p.one
{
    border-width: 2px;
    border-color: #0088dd;
}

p.two
{
    border-width: thick;
    border-color: #bbbbaa #111111 #ee3e80 #0088dd;
}

p.three
{
    border-width: 1px 4px 12px 4px;
}

p.four
{
    border-style: solid;
    border-color: #0088dd;
}

p.five
{
    border-style: dotted;
    border-color: #bbbbaa #111111 #ee3e80 #0088dd;
}

p.six
{
    border-style: dashed;
}

p.seven
{
    border-style: double;
}

p.eight
{
    border-style: groove;
}

p.nine
{
    border-style: ridge;
}

p.ten
{
    border-style: inset;
}

p.eleven
{
    border-style: outset;
}