@font-face
{
    font-family: 'ChunkFiveRegular';
    src: url('fonts/chunkfive.eot'); /* Link para formato para IE 5-8 and IE 9+ */
    src: url('fonts/chunkfive.eot#iefix')
    format('embedded-opentype'),
    url('fonts/chunkfive.woof') format('woff'), /* Link formato para Chrome 6+ Firefox 3.6+ IE9+ */
    url('fonts/chunkfive.ttf') format('truetype'), /* Link formato para Chrome 6+ Firefox 3.5, 3.6+ IE9+ Opera 10+ Safari 3.1+ iOS 4.2+*/
    url('fonts/chunkfive.sgv#ChunkFiveRegular') format('sgv'); /* Link formato para Chrome (All), 6+ Opera 10+ Safari 3.1+ iOS 4.2+ */
}

h1, h2
{
    font-family: ChunkFiveRegular, Georgia, serif;
}