*
{
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;
    
}
#nav, #feature, .article, #footer
{
    background-color: #efefef;
    margin-top: 20px;
    padding: 10px 10px 5px 10px;
    
}
#feature, .article
{
    height: 100%;
    overflow: auto;
    
}
li
{
    display: inline;
    padding: 5px;
}



