body
{
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
}
h1
{
    background-color: #efeded;
    padding: 10px;
}
p
{
    width: 500px;
}
p.example
{
    /* position: relative; */
    top: 10px;
    left: 100px;
    margin-top: 10px;
}
h1
{
    /* position: absolute; */
    /* position: fixed; */
    top: 10px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #efefef;
    /* z-index: 10; */
}
blockquote
{
    float: right;
    width: 275px;
    font-size: 130%;
    font-style: italic;
    font-family: Georgia, Times, serif;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid #665544;
    border-bottom: 1px solid #665544;
}